body {
    /* background-attachment: fixed; */
    background-color:#E3F6FF;
    color: #252A34;
}

.name {
    text-align: center;
    text-decoration: underline;
    text-shadow: 3cm;
    color:#45969b;
}
h3{
    color:#f96d15;
}
.profile-pic {
    height: 18rem;
    padding: 1rem 1rem 1rem 10rem;
    align-content: flex-end;
}

hr {
    border-top: 3px #252A34 solid;
}

footer {
    text-align: right;
    

}

#textabout {
    text-align: justify;
}
a{
    color: #112D4E;
}
a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
}

.right{
    padding:  0px 80px;
}


label.info{
    display: inline-block;
    width: 200px;
    padding: 3px 0px;
}
.data{
    width: 300px;
    display:inline-block;
}
legend{
    text-align: center;
}
fieldset{
    background-color:#9DF1DF;
}

.infoleft{
    display: flex;
    width: 1000px;
}
.complain{
    margin-top: 0px;
}
button{
    margin: 0px 50%;
}